.card-container{
    background-color: #ffffff;
    border: 1px solid #dfe7ef;
    border-radius: 12px;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    .card{
        border-radius: 0px;
        padding-bottom: 0px;
    }
}

