<div class="grid">
    <div class="col-12">
        <div class="card" style="height: calc(100vh - 9rem)">
            <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>
            <p-table
                [value]="contract"
                dataKey="id"
                [rows]="6"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div class="flex items-center gap-5">
                        <button
                            class="flex rounded justify-content-center text-center items-center bg-gray-400 w-[250px] h-[36px]"
                        >
                            <span>Bộ lọc thông tin</span>
                        </button>
                        <span class="p-input-icon-left w-[400px] h-[36px]">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                placeholder="Nhập thông tin tìm kiếm tài xế"
                                class="w-full"
                            />
                        </span>
                        <p-dropdown
                            [options]="status"
                            [(ngModel)]="selectedDrop"
                            placeholder="Trạng Thái"
                            [showClear]="true"
                            class="h-[36px]"
                        ></p-dropdown>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Tìm kiếm"
                            class="p-button-outlined h-[36px] w-[125px]"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Tạo mới"
                            icon="pi pi-plus"
                            class="p-button-primary mr-2 h-[36px] w-[125px]"
                            routerLink="/management/add-contract"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 2rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>#</span>
                            </div>
                        </th>
                        <th style="min-width: 4rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>HÀNH ĐỘNG</span>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>MÃ PHIẾU</span>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>LOẠI PHIẾU</span>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>TÊN PHIẾU</span>
                            </div>
                        </th>
                        <th style="min-width: 4rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>TRẠNG THÁI</span>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>HẠNG MỤC PHIẾU</span>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>TÊN CHI PHÍ</span>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div
                                class="flex justify-content-center text-center items-center"
                            >
                                <span>NHÓM CHI PHÍ</span>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contract>
                    <tr>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span>1</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded p-button-help mr-2"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-primary"
                            ></button>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span>{{ contract.id }}</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span class="image-text ml-2">{{
                                contract.name
                            }}</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span class="image-text ml-2">{{
                                contract.contractType
                            }}</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span class="image-text ml-2">{{
                                contract.status
                            }}</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span class="image-text ml-2">{{
                                contract.customerName
                            }}</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span class="image-text ml-2">{{
                                contract.customerId
                            }}</span>
                        </td>
                        <td
                            class="justify-content-center text-center items-center"
                        >
                            <span class="image-text ml-2">{{
                                contract.customerGroup
                            }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
